[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = http://github.com/godlygeek/csapprox.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/pyflakes-vim/ftplugin/python"]
	path = bundle/pyflakes-vim/ftplugin/python
	url = http://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = http://github.com/kevinw/pyflakes.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = http://github.com/Townk/vim-autoclose.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = http://github.com/akitaonrails/Command-T.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-soy/syntax"]
	path = bundle/vim-soy/syntax
	url = git://gist.github.com/367358.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = http://github.com/clones/vim-taglist.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = http://github.com/hallettj/jslint.vim.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
