[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "submodules/csapprox"]
	path = submodules/csapprox
	url = http://github.com/godlygeek/csapprox.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "submodules/vim-rails"]
	path = submodules/vim-rails
	url = http://github.com/tpope/vim-rails.git
